<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رزومه - محمد داداشی رستمی ثالث</title>
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/icons.js" type crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>

<body class="bg-[#15131E]" id="app">
    <!-- Header Side -->
    <header
        class="w-full h-[115vh] bg-center bg-no-repeat bg-cover flex items-center justify-center conta lg:h-fit pb-4 "
        style='background-image: url("img/cover.webp");'>
        <div class="info-wraper  w-[90%]  flex flex-row-reverse  items-center justify-evenly flex-wrap">
            <img id="my image" src="img/me.png" alt="my image"
                class="bg-white rounded-full h-[288px] w-[288px] object-cover p-[5px] lg:w-[200px] lg:h-[200px]  lg:mt-5">
            <div class="flex h-full justify-center flex-col gap-[7%]">
                <h1 class="text-white font-bold text-[30px] text-center mt-8 md:text-[26px]">
                    محمد داداشی رستمی ثالث
                </h1>
                <h2 class="text-white font-light text-[26px] text-center mx-1 mt-8 md:text-[26px] lg:text-[20px]">
                    Backend and Front End Developer
                </h2>
            </div>
        </div>
    </header>
    <!-- About Me Side -->
    <div class="informations flex flex-col  lg:gap-[20px] mx-[5px]">
        <article class="about-me bg-[#201E2B] h-fit mt-[110px] lg:mt-0 py-10">
            <h1 class="text-center text-[#d483ff] font-bold text-[24px] pt-6">من چه کسی هستم ؟</h1>
            <p class="text-[17px] text-white my-6 text-right mx-4 lg:mx-28  md:text-[18px] leading-[36px]  ">
                {{aboutMe}}
            </p>
        </article>
        <!-- Nokat Barjaste -->
        <div class="Highlights bg-[#201E2B] h-fit mt-[-35px] lg:mt-0 py-10">
            <h1 class="text-center text-[#F44D5C] font-bold text-[24px] pt-6">نکات برجسته درباره من</h1>
            <div
                class="checkList flex mx-[8rem] my-12 justify-between align-middle  gap-9 flex-col lg:flex-row lg:flex-wrap">
                <div class="checkListItem flex gap-[15px] text-white lg:w-[30%]" v-for="item in highlights">
                    <i class="fa-solid fa-check text-[#F44D5C] text-[1.75rem]"></i>
                    <p class="text-[1.25rem] lg:text-[16px]"> {{item}} </p>
                </div>

            </div>
        </div>

        <!-- skils -->
        <div class="skils bg-[#201E2B] h-fit mt-[-35px] lg:mt-0 py-10">
            <h1 class="text-center text-[#F44D5C] font-bold text-[24px] pt-">تخصص های من</h1>

            <!-- Programig Languages -->
            <div class="skil-group w-fit h-full flex flex-col my-[30px] mx-auto  bg-[#1b1924]">
                <h3 class="text-white text-center mt-[30px] lg:text-right mr-[30px]">زبان های برنامه نویسی</h3>
                <div class="flex flex-row flex-wrap gap-3 justify-center flex-wr skils-container">

                    <div class="card" v-for="(progLangs, index) in programingLangs" :key="index">
                        <div class="percent">
                            <svg>
                                <circle cx="105" cy="105" r="100"></circle>
                                <circle cx="105" cy="105" r="100" :style="{'--percent' : progLangs[1]}"></circle>
                            </svg>
                            <div class="number">
                                <h3>{{progLangs[1]}}<span>%</span></h3>
                            </div>
                        </div>
                        <div class="title">
                            <h2>{{progLangs[0]}}</h2>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Library and Freamworks -->
            <div class="skil-group w-fit h-full flex flex-col my-[30px] mx-auto bg-[#1b1924]">
                <h3 class="text-white text-center mt-[30px] lg:text-right mr-[30px]">کتابخانه ها و فریم ورک ها</h3>
                <div class="flex flex-row flex-wrap gap-3 justify-center flex-wr skils-container">

                    <div class="card" v-for="(libs, index) in FreamworksLibs" :key="index">
                        <div class="percent">
                            <svg>
                                <circle cx="105" cy="105" r="100"></circle>
                                <circle cx="105" cy="105" r="100" :style="{'--percent' : libs[1]}"></circle>
                            </svg>
                            <div class="number">
                                <h3>{{libs[1]}}<span>%</span></h3>
                            </div>
                        </div>
                        <div class="title">
                            <h2>{{libs[0]}}</h2>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Databases -->
            <div class="skil-group w-fit h-full flex flex-col my-[30px] mx-auto bg-[#1b1924]">
                <h3 class="text-white text-center mt-[30px] lg:text-right mr-[30px]">پایگاه داده ها</h3>
                <div class="flex flex-row flex-wrap gap-3 justify-center flex-wr skils-container">

                    <div class="card" v-for="(db, index) in databases" :key="index">
                        <div class="percent">
                            <svg>
                                <circle cx="105" cy="105" r="100"></circle>
                                <circle cx="105" cy="105" r="100" :style="{'--percent' : db[1]}"></circle>
                            </svg>
                            <div class="number">
                                <h3>{{db[1]}}<span>%</span></h3>
                            </div>
                        </div>
                        <div class="title">
                            <h2>{{db[0]}}</h2>
                        </div>
                    </div>

                </div>
            </div>

            <!-- webDisgine -->
            <div class="skil-group w-fit h-full flex flex-col my-[30px] mx-auto bg-[#1b1924]">
                <h3 class="text-white text-center mt-[30px] lg:text-right mr-[30px]"> طراحی وب</h3>
                <div class="flex flex-row flex-wrap gap-3 justify-center flex-wr skils-container">

                    <div class="card" v-for="(wd, index) in webDisgine" :key="index">
                        <div class="percent">
                            <svg>
                                <circle cx="105" cy="105" r="100"></circle>
                                <circle cx="105" cy="105" r="100" :style="{'--percent' : wd[1]}"></circle>
                            </svg>
                            <div class="number">
                                <h3>{{wd[1]}}<span>%</span></h3>
                            </div>
                        </div>
                        <div class="title">
                            <h2>{{wd[0]}}</h2>
                        </div>
                    </div>

                </div>
            </div>

            <!-- other knoldges -->
            <div class="skil-group w-fit h-full flex flex-col my-[30px] mx-auto bg-[#1b1924]">
                <h3 class="text-white text-center mt-[30px] lg:text-right mr-[30px]"> سایر مهارت ها</h3>
                <div class="flex flex-row flex-wrap gap-3 justify-center flex-wr skils-container">

                    <div class="card" v-for="(other, index) in otherKnowldge" :key="index">
                        <div class="percent">
                            <svg>
                                <circle cx="105" cy="105" r="100"></circle>
                                <circle cx="105" cy="105" r="100" :style="{'--percent' : other[1]}"></circle>
                            </svg>
                            <div class="number">
                                <h3>{{other[1]}}<span>%</span></h3>
                            </div>
                        </div>
                        <div class="title">
                            <h2>{{other[0]}}</h2>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- Govahi ha -->
        <div class="Madakrek bg-[#201E2B]  mt-[-35px] lg:mt-0 py-10">
            <h1 class="text-center text-[#F44D5C] font-bold text-[24px] pt-6 ">گواهی های پایان دوره</h1>
            <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3  py-96 m-0" style="padding: 24px;">
                <li class="col-span-1 flex flex-col text-center bg-transparent" v-for="(mk, index) in makarek" :key="index">
                  <div class=" relative">
                    <div class=" inset-0  w-full">
                      <img class=" w-full object-cover object-center" :src="'img/govahi/' + mk + '.jpg'" />
                    </div>
                  </div>
                </li>
               
              </ul>
        </div>
    </div>

</body>


<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
<script src="js/data.js"></script>

</html>